@font-face {
  font-family: "Pretendard";
  font-weight: 400;
  font-display: swap;
  src: local("Pretendard"),
    url("../assets/fonts/Pretendard-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "GmarketSans";
  font-weight: 600;
  font-display: swap;
  src: url("../assets/fonts/GmarketSansBold.otf") format("opentype");
}
@font-face {
  font-family: "GmarketSans";
  font-weight: 400;
  font-display: swap;
  src: url("../assets/fonts/GmarketSansMedium.otf") format("opentype");
}

@font-face {
  font-family: "GmarketSans";
  font-weight: 200;
  font-display: swap;
  src: url("../assets/fonts/GmarketSansLight.otf") format("opentype");
}
